.head {
  display: flex;
  text-transform: capitalize;
  background-color: #509ee2; }
  .head .head__search {
    background-color: #d6dfe5;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .head .head__nav {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .head .head__nav .head__btn {
      text-transform: capitalize;
      border: none;
      border-radius: 5px;
      width: 128px;
      height: 54px;
      background-color: #509ee2;
      color: #fff; }
      .head .head__nav .head__btn:hover {
        background-color: #7bb5e7; }
  .head .head__account {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff; }
    .head .head__account .head__account_angle {
      border: solid #fff;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }

.messages__tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.5px solid #d8e0e6; }
  .messages__tools button {
    background-color: #509ee2;
    color: #fff;
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px; }

.messages__card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.5px solid #d8e0e6;
  height: 129px; }
  .messages__card_white {
    background-color: #fff; }

.names {
  text-transform: capitalize;
  font-weight: bold; }

.chat .chat__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid #d8e0e6; }
  .chat .chat__tools .chat__tools_icons {
    display: flex;
    justify-content: space-between; }

.chat .chat__chatting {
  display: flex;
  align-items: flex-start;
  margin-top: 26px;
  color: #fff; }
  .chat .chat__chatting .chat__text {
    background-color: #509ee2;
    border-radius: 5px;
    margin-left: 20px;
    max-width: 417px; }
    .chat .chat__chatting .chat__text p {
      margin: 20px 25px; }
  .chat .chat__chatting img {
    margin-left: 29px; }

.chat .chat__chatting_user {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 26px; }
  .chat .chat__chatting_user .chat__text {
    background-color: #f1f5f8;
    border-radius: 5px;
    margin-right: 30px;
    max-width: 417px; }
    .chat .chat__chatting_user .chat__text p {
      margin: 20px 25px; }

.chat .chat__input {
  display: flex;
  margin-top: 100px;
  justify-content: space-around; }
  .chat .chat__input :first-child {
    background-color: #d5dfe6;
    border: none;
    height: 70px;
    width: 380px;
    border-radius: 5px; }
  .chat .chat__input > button {
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #509ee2;
    width: 120px;
    height: 70px; }
  .chat .chat__input .attachment {
    background: none;
    border-radius: 0px 5px 5px 0px;
    height: 71px;
    width: 50px;
    position: absolute;
    left: 52%;
    background-image: url(./../../../Images/Icons/attachment.png);
    background-position: center;
    background-repeat: no-repeat; }

.online {
  background-color: #f1f5f8; }
  .online .online__tools {
    display: flex;
    align-items: center;
    border: 0.5px solid #d8e0e6; }
  .online .members .online__member {
    display: flex;
    align-items: center;
    height: 90px;
    margin: 0 41px; }
    .online .members .online__member .online__member_info {
      display: flex;
      align-items: center;
      width: 309px; }
    .online .members .online__member .online__member_img {
      width: 55px;
      height: 55px;
      background-color: #d8e0e7;
      border-radius: 5px;
      margin-right: 25px; }
    .online .members .online__member .online__member_icon-on {
      width: 11px;
      height: 11px;
      background-color: #509ee2;
      border-radius: 50%; }
    .online .members .online__member .online__member_icon-off {
      width: 11px;
      height: 11px;
      background-color: #cad5de;
      border-radius: 50%; }

* {
  font-family: proxima_nova; }

.wrapper {
  min-width: 320px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }

.wrap_height_header {
  height: 100px; }

.wrap_width_search {
  max-width: 402px;
  width: 402px;
  background-color: #f1f5f8; }

.wrap_width_chat {
  max-width: 637px;
  width: 637px; }

.wrap_width_user {
  max-width: 402px;
  width: 402px; }

.subhead-text {
  text-transform: uppercase;
  color: #509ee2; }

.sections {
  display: flex; }
