.Rectangle_1_copy_5 {
    background-color: rgb(214, 223, 230);
    position: absolute;
    left: 0px;
    top: -2px;
    width: 401px;
    height: 102px;
    z-index: 214;
  }
  
.search-text {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 10px;
  color: #647584;
  font-family: "Proxima Nova";
}

.logo-text {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 10px;
  color: #55697a;
  font-weight: bold;
  font-family: "Proxima Nova";
}

.tools-text {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 10px;
  color: #509ee2;
  font-weight: bold;
  font-family: "Proxima Nova";
}

.user-avaliable {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 10px;
  color: #ffffff;
  font-family: "Proxima Nova";
}
.user-agung {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 10px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Proxima Nova";
}

.navtools-text {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 10px;
  color: #ffffff;
  font-family: "Proxima Nova";
  .tools-text {
    font-weight: bold;
  }
}

.friends-time {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 10px;
  color: #444444;
  font-family: "Proxima Nova";
}

.friends-message {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 10px;
  color: #aaaaaa;
  font-family: "Proxima Nova";
}

.friends-name {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 10px;
  color: #444444;
  font-weight: bold;
  font-family: "Proxima Nova";
}