.chat {
    .chat__tools {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0.5px solid #d8e0e6;
        .chat__tools_icons {
            display: flex;
            justify-content: space-between;
        }
    }
    .chat__chatting {
        display: flex;
        align-items: flex-start;
        margin-top: 26px;
        color: #fff;
        .chat__text {
            background-color: #509ee2;
            border-radius: 5px;
            margin-left: 20px;
            max-width: 417px;
            p {
                margin: 20px 25px;
            }
        }
        img {
            margin-left: 29px;
        }
    }
    .chat__chatting_user {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 26px;
        .chat__text {
            background-color: #f1f5f8;
            border-radius: 5px;
            margin-right: 30px;
            max-width: 417px;
            p {
                margin: 20px 25px;
            }
        }
    }
    .chat__input {
        display: flex;
        margin-top: 100px;
        justify-content: space-around;
        :first-child {
            background-color: #d5dfe6;
            border: none;
            height: 70px;
            width: 380px;
            border-radius: 5px;
        }
        > button {
            border: none;
            border-radius: 5px;
            text-transform: uppercase;
            background-color: #509ee2;
            width: 120px;
            height: 70px;
        }
        .attachment {
            background: none;
            border-radius: 0px 5px 5px 0px;
            height: 71px;
            width: 50px;
            position: absolute;
            left: 52%;
            background-image: url(./../../../Images/Icons/attachment.png);
            background-position: center;
            background-repeat: no-repeat;
            
        }
        // label {

        //     height: 71px;
        //     width: 50px;
        //     position: absolute;
        //     left: 892px;
        // }
    }
}
