.messages {   
    .messages__tools {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 0.5px solid #d8e0e6;
    }
    .messages__card {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 0.5px solid #d8e0e6;
        height: 129px;
    }
}
.names {
    text-transform: capitalize;
}