.head {
    display: flex;
    text-transform: capitalize;
    background-color: #509ee2;
    font-size: 18px;
    letter-spacing: 1px;

    .head__search {
        background-color: #d6dfe5;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .head__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .head__btn {
            text-transform: capitalize;
            border: none;
            border-radius: 5px;
            width: 128px;
            height: 54px;
            background-color: #509ee2;
            color: #fff;
            font-size: 18px;
            letter-spacing: 1px;

            &:hover {
                background-color: #7bb5e7;
                font-weight: bold;
            }
        }
    }
    .head__account {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;

        .head__account_angle {
            border: solid #fff;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }
}